#tenses{
	display: none;
}

.verb{
	font-weight:bold;
}

.dictionary{
	border: 1px solid #000;
  margin-bottom: 1em;
  margin-right: 1em;
  _position: relative;
float: left;
width: 45%;
min-height: 7em;
height: 7em; /* for IE*/
padding: 5px 5px 5px 5px;
	overflow:auto;
}

.kentry {
border: 1px solid #EEE;
  margin-bottom: 3px;
  margin-right: 1px;
  _position: relative;
float: left;
width: 45%;
min-height: 6em;
height: 6em; /* for IE*/
padding: 5px 5px 5px 5px;
	font-size: 12px;
	overflow:auto;
}
.wordclass{
  margin-bottom: 3px;
  margin-right: 1px;
  _position: relative;
padding: 1px 1px 1px 1px;
	font-size: 11px;
text-align:left;
}
#kright{
clear:right;
float:right;
width: 50%;
}
#kleft{
float: left;
width: 50%;
}

.kentrywide{
border: 1px solid #EEE;
  margin-bottom: 3px;
  margin-right: 1px;
  _position: relative;
float: left;
width: 95%;
padding: 5px 5px 5px 5px;
font-size: 12px;
clear:both;
}

.state0{
border: 1px solid #fee;
}
.state-1{
border: 1px solid #ef0;
}

.dictionary #name {
font-size: 1.4em;
}
.name{
clear:both;
}
#desc {
padding: 2px 2px 2px 2px;
font-size: .8em;
}
#help{
text-align:right;
vertical-align:super;
font-size: .8em;
}

.fulldictionary{
	border: 1px solid #000;
	  margin-bottom: 1em;
	  margin-right: 1em;
	  _position: relative;
	float: left;
	width: 95%;
	min-height: 7em;
	padding: 5px 5px 5px 5px;
}
.entrypage{
	  margin-bottom: 1em;
	  margin-top: 1em;
	  _position: relative;
	float: left;
	width: 95%;
	min-height: 7em;
	padding: 5px 5px 5px 5px;
}

#find {
text-align:right;
clear:both;
}

label{
	font-style:italic;
font-size: 10px;
font-weight:bold;
}

.structure{
/*border-left: 1px solid #f00; */
  margin-bottom: 3px;
  margin-right: 1px;
  _position: relative;
float: left;
width: 95%;
padding: 5px 5px 5px 5px;
font-size: 12px;
}

.meaning{
  margin-bottom: 3px;
  margin-right: 1px;
  _position: relative;
float: left;
width: 95%;
padding: 5px 5px 5px 5px;
font-size: 12px;
}

.reviewstatus, .citation{
clear:both;
padding: 5px 5px 5px 5px;
}

.derivation{
font-weight: bold;
}


.entry{
background-color: #eee;
}